<div class="container">
  <footer class="footer">
    <small>
        Copyright &copy; <a href="http://gitlab.com/viodine/alpha-blog">Learning Ruby on Rails</a>
        by Krzysztof Janiec
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
</div>